<!DOCTYPE html>
<html>
  <head>
    <title>Stripe Connect</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css" rel="stylesheet">
    <style>
      body{background-color: #e5e5e5;}
      div.container { position: relative;}
      div.row { position: absolute; margin:30px 50px 50px 50px;}
      div.stripe-field {
        position:absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
      }
      div.stripe-field .stripe-connect-btn { text-align: left;}
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="span4">
          <div class="stripe-field">
            <h2>Stripe Connect</h2>
            <% if current_user.stripe_access_token %>
              <h4><%= t('.connected.title') %></h4>
              <p><%= t('.connected.description') %></p>
              <p><%= t('.connected.stripe_id', strip_id: current_user.stripe_userid) %></p>
              <p><%= link_to t('.connected.create_first_project'), main_app.new_project_path, :class => "btn btn-success" %></p>
            <% else %>
              <p><%= t('.not_connected.instructions') %></p>
              <p><%= t('.not_connected.prompt') %></p>
              <p class="stripe-connect-btn">
                <a href="<%= oauth_client.auth_code.authorize_url(:scope => 'read_write', :stripe_landing => 'register') %>">
                  <img src="/assets/catarse_stripe/auth/stripe_blue.png">
                </a>
              </p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/js/bootstrap.min.js"></script>
  </body>
</html>
